@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

:root {
  --clr-blue-hover: #0056b3;
  --clr-blue-700: #007bff;
  --clr-blue: #4285f4;
  --clr-gray: #6c757d;
  --clr-gryy: #b3b3b3;
  --clr-black: #000;
  --clr-white: #fff;
  --clr-white-200: #f1f1f1;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: gray;
  line-height: 1.7;
  font-size: 1rem;
  font-family: 'Nunito', sans-serif;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--clr-black);
}
h2 {
  font-size: 1.875rem;
  color: var(--clr-black);
  line-height: 1.2;
}
img {
  max-width: 100%;
}

.container {
  max-width: 690px;
  margin: 0 auto;
  padding: 0 4%;
}
@media (min-width:990px) {
  .container {
    max-width: 1120px;
    padding: 0 1%;
  }
}
@media (min-width:1200px) {
  .container {
    padding: 0;
  }
}
.btn {
  cursor: pointer;
  padding: 13px 30px;
  border: 1px solid transparent;
  border-radius: 30px;
  border-width: 2px;
  font-size: 1rem;
  font-weight: 400;
  display: inline-block;
  background-color: var(--clr-blue);
  color: var(--clr-white-200);
}
.btn-light {
  border: none;
  background-color: transparent;
  color: var(--clr-blue-700);
  font-size: 1rem;
  font-weight: 300;
  font-family: 'Nunito', sans-serif;
  line-height: 1.7;
  cursor: pointer;
}

/* HEADER */
.logo {
  font-size: 2rem;
  color: var(--clr-black);
}
.logo span {
  color: var(--clr-blue-700);
}
.header {
  padding: 20px 0;
  background-color: var(--clr-white);
  position: fixed;
  width: 100%;
  z-index: 10;
  transition: padding 200ms ease-in-out;
}
.header--shrink {
  box-shadow: 4px 0 20px -10px rgba(0, 0, 0, 0.2);
  padding: 10px 0;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* NAV */
.nav__list {
  display: none;
}
.nav__item {

}
.nav__link {
  padding: 10px 20px;
  transition: color 200ms ease-in-out;
}
.nav__link:hover {
  color: var(--clr-blue);
}
.nav__link i {
  font-size: 0.6rem;
}
.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.hamburger span{
  height: 3px;
  width: 22px;
  background-color: var(--clr-black);
  display: block;
}
.bar + .bar {
  margin-top: 3px;
}

@media (min-width: 990px) {
  
  .hamburger {
    display: none;
  }
  .nav__list {
    display: flex;
  }
}
/* HERO SECTION */
.hero {
  overflow:hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.hero .container {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
}
.hero__content {
  
}
.main-heading {
  font-size: 2rem;
  line-height: 1.2;
  color: var(--clr-black);
  margin-bottom: 10px;
}
.hero__desc {
  font-size: 1rem;
  margin-bottom: 40px;
}
.hero__img {
  width: 100%;
  margin-bottom: 30px;
}

@media (min-width: 990px) {
  .hero__content  {
    width: 50%;
  }
  .main-heading {
    font-size: 3.5rem;
  }
  .hero__img {
    max-width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    top: 60%;
    transform: translateY(-50%) translateX(30%);
    margin-bottom: 0;
  }
}

/* FEATURES */
.features {
  text-align: center;
}
.features .container {

}
.features .section-desc {
  margin: 0 auto;
  width: 60%;
  margin-bottom: 100px;
}
.section-desc__title {
  margin-bottom: 10px;
}
.section-desc__subtitle {
  font-size: 1.25rem;
}
.feature-cards {
  display: grid;
  gap: 90px;
}
.feature-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--clr-white-200);
  padding: 20px;
  position: relative;
  border-radius: 10px;
  transition: all 200ms ease-in-out;
}
.feature-card:hover {
  background-color: var(--clr-blue);
  color: var(--clr-white);
}
.feature-card:hover {
  transform: translateY(-10px);
}
.feature-card:hover .feature-card__title {
  color: var(--clr-white);
}
.feature-card:hover .feature-card__icon {
  background-color: var(--clr-white);
}
.feature-card:hover .feature-card__icon i {
  color: var(--clr-blue);
}
.feature-card:hover .btn-light {
  color: var(--clr-white);
}
.feature-card__icon {
  position: absolute;
  top: -38px;
  background-color: var(--clr-blue);
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 200ms ease-in-out;
}
.feature-card__icon i{
  font-size: 1.5rem;
  color: var(--clr-white);
}
.feature-card__title {
  font-size: 1.125rem;
  color: var(--clr-black);
  font-weight: 400;
  margin-top: 40px;
}
.feature-card__desc {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 25px;
}
@media (min-width:768px) {
  .feature-cards {
    grid-template-columns: repeat(2, 1fr );
    gap: 70px 30px;
  }
}
@media (min-width:990px) {
  .feature-cards {
    grid-template-columns: repeat(3, 1fr );
    gap: 70px 30px;
  }
}

/* FEEDBACK SECTION */

.feedback {

}
.feedback .container {

}
.feedback__content {
  
}
.feedback__bg {
  margin-bottom: 50px;
}
.right {
  order: -1;
}
.feedback-container {
  display: grid;
  margin-bottom: 100px;
}
.feedback-container .section-desc {
  
}
.feedback-container .section-desc__title{
  font-size: 2.5rem;
  margin-bottom: 25px;
}
.feedback-container .section-desc__subtitle{
  font-size: 1rem;
}
.feedback-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-left: 10px solid var(--clr-blue);
  border-radius: 3px;
  box-shadow: 0 5px 15px -2px rgba(0, 0, 0, 0.1);
  margin-top: 25px;
}
.feedback-card__top-part {
  display: flex;
  margin-bottom: 2px;
}
.feedback-card__bottom-part {
  
}
.feedback-card__img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.feedback-card__details {
  margin-bottom: 20px;
}
.feedback-card__name {
  font-weight: 600;
  color: var(--clr-black);
}
.feedback-card__role {
  color: var(--clr-black);
}
.feedback-card__quote {
  font-style: italic;
}
@media (min-width: 990px){
  .feedback-container {
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 100px;
    height: 80vh;
  }
  .feedback__bg {
   
  }
  .feedback-container .section-desc {
    margin-top: 100px;
  }
} 