@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

:root {
  --clr-blue-hover: #0056b3;
  --clr-blue-700: #007bff;
  --clr-blue: #4285f4;
  --clr-gray: #6c757d;
  --clr-gryy: #b3b3b3;
  --clr-black: #000;
  --clr-white: #fff;
  --clr-white-200: #f1f1f1;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: gray;
  line-height: 1.7;
  font-size: 1rem;
  font-family: 'Nunito', sans-serif;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--clr-black);
}
.container {
  max-width: 1120px;
  margin: 0 auto;
}
.btn {
  cursor: pointer;
  padding: 13px 30px;
  border: 1px solid transparent;
  border-radius: 30px;
  border-width: 2px;
  font-size: 1rem;
  font-weight: 400;
  display: inline-block;
  background-color: var(--clr-blue);
  color: var(--clr-white-200);
}

/* HEADER */
.logo {
  font-size: 2rem;
  color: var(--clr-black);
}
.logo span {
  color: var(--clr-blue-700);
}
.header {
  padding: 20px;
  background-color: var(--clr-white);
  position: fixed;
  width: 100%;
  z-index: 10;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* NAV */
.nav__list {
  display: none;
}
.nav__item {

}
.nav__link {
  padding: 10px 20px;
  transition: color 200ms ease-in-out;
}
.nav__link:hover {
  color: var(--clr-blue);
}
.nav__link i {
  font-size: 0.6rem;
}
.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.hamburger span{
  height: 3px;
  width: 22px;
  background-color: var(--clr-black);
  display: block;
}
.bar + .bar {
  margin-top: 3px;
}
@media (min-width: 900px) {
  .hamburger {
    display: none;
  }
  .nav__list {
    display: flex;
  }
}
/* HERO SECTION */
.hero {
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.hero .container {
  display: flex;
  align-items: center;
  height: 100%;
}
.hero__content {
  width: 50%;
}
.main-heading {
  font-size: 3.5rem;
  line-height: 1.2;
  color: var(--clr-black);
  margin-bottom: 10px;
}
.hero__desc {
  font-size: 1rem;
  margin-bottom: 40px;
}
.hero__img {
  position: absolute;
  top: 0%;
  right: -6%;
  
}